<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Project1Yan</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplicationServlet</display-name>
    <servlet-name>ApplicationServlet</servlet-name>
    <servlet-class>com.revature.servlet.ApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationServlet</servlet-name>
    <url-pattern>/application</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupervisorServlet</display-name>
    <servlet-name>SupervisorServlet</servlet-name>
    <servlet-class>com.revature.servlet.SupervisorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupervisorServlet</servlet-name>
    <url-pattern>/supervisor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentServlet</display-name>
    <servlet-name>DepartmentServlet</servlet-name>
    <servlet-class>com.revature.servlet.DepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentServlet</servlet-name>
    <url-pattern>/department</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BencoServlet</display-name>
    <servlet-name>BencoServlet</servlet-name>
    <servlet-class>com.revature.servlet.BencoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BencoServlet</servlet-name>
    <url-pattern>/benco</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.revature.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>com.revature.servlet.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/ProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet2</display-name>
    <servlet-name>ProfileServlet2</servlet-name>
    <servlet-class>com.revature.servlet.ProfileServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet2</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet3</display-name>
    <servlet-name>ProfileServlet3</servlet-name>
    <servlet-class>com.revature.servlet.ProfileServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet3</servlet-name>
    <url-pattern>/profile2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BencoServlet2</display-name>
    <servlet-name>BencoServlet2</servlet-name>
    <servlet-class>com.revature.servlet.BencoServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BencoServlet2</servlet-name>
    <url-pattern>/benco2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupervisorServlet2</display-name>
    <servlet-name>SupervisorServlet2</servlet-name>
    <servlet-class>com.revature.servlet.SupervisorServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupervisorServlet2</servlet-name>
    <url-pattern>/supervisor2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BencoServlet3</display-name>
    <servlet-name>BencoServlet3</servlet-name>
    <servlet-class>com.revature.servlet.BencoServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BencoServlet3</servlet-name>
    <url-pattern>/benco3</url-pattern>
  </servlet-mapping>
</web-app>